/*引入公共样式*/
@charset "utf-8";
@import url("comm.css");

/*内容*/
.content{width: 100%;height:765px;background: url(../images/app-bg.jpg) no-repeat center;overflow: hidden;}
.content-wrap{width:1200px;height: 765px;margin: 0 auto;}
.mainleft{width: 40%;height:700px;background: url(../images/app-roll.png) no-repeat center;position: relative;float: left;}
.mainleft .people{width: 100%;height: 765px;display: block;background: url(../images/app-people.png) no-repeat 11px center;}
.mainleft .phone{width: 100%;height: 765px;display: block;background: url(../images/app-phone.png) no-repeat  center 106px;}
.mainleft .hand{width: 190px;height: 235px;display: block;background: url(../images/app-hand.png) no-repeat ;position: absolute;right:25px;bottom: -65px;}

.mainright{width: 60%;height:765px; float: right;}
.appName{width: 100%;height: 170px;background: url(../images/app_name.png) no-repeat;margin-top: 125px;}
.appCoad{width: 100%;height: 300px;}
.coad-img{width: 300px;height: 300px;float: left;color: #fff;font-size: 14px;text-align: center;}
.coad-img img{width:190px;height: 190px;display: block;border-radius: 10px;margin: 10px auto;}

.appDown{width:260px;height: 300px;float: left;margin-left: 30px;}
.android{display: block; width: 200px;height: 50px;line-height: 50px;text-align: center;background: #fff url(../images/android_icon.png) no-repeat 11px 8px;
	border-radius: 10px;color: #ff3451;font-size: 20px;margin-top: 30px;position: relative;}
.android i{display: block;width: 30px;height: 15px;background: url(../images/beta.png) no-repeat center;position: absolute;right: -33px;top: -13px;}

.iphone{display: block; width: 200px;height: 50px;line-height: 50px;text-align: center;background: #fff url(../images/ios_icon.png) no-repeat 11px 8px;
	border-radius: 10px;color: #ff3451;font-size: 20px;margin-top: 30px;}
.android:hover{opacity: 0.8;}
.iphone:hover{opacity: 0.8;}



