/*引入公共样式*/
@charset "utf-8";
@import url("comm.css");

/*内容*/
.content{width: 100%;height: auto;overflow: hidden;background:#fffaea;}
.content .tbSearch{width: 100%;height: 322px;background: url(../images/tb-bg.jpg) no-repeat center;}
.tbSearch #tb-form{width: 844px;height: 50px;padding-top: 160px;padding-bottom: 100px;margin: 0 auto;}
#tb-form>div{width:808px;height: 50px;border: 3px solid #ee4445;margin: 0 auto;position: relative;}
#tb-form .fond{width:70px;height:28px;color: #fff;background: #EE4445;text-align: center;line-height: 28px;position: absolute;top:-45px;left: 0px;
	cursor: pointer;}
.fond i{display: block;width:16px;height: 8px;background: url(../images/tb-ico.png) no-repeat -165px 0px;margin-left: 24px;}
#tb-form .tb-input{display:block;width: 607px;height: 35px;padding: 7px 0px 7px 5px;color: #666;border: none;outline: none;float: left;font-size: 18px;}
#tb-form>div>i{display: block;float: left;width: 36px;height:50px;background:#fff url(../images/tb-ico.png) no-repeat -190px 12px;}
#tb-form .tb-btn{width: 160px;height: 50px;float: left;display: block;background:#EE4445 url(../images/tb-ico.png) no-repeat 0px 0px;border: none;outline: none;
	cursor: pointer;}

.step1{width: 100%;height:477px;background: url(../images/step_01.gif) no-repeat center;}
.step2{width: 100%;height:424px;background: url(../images/step_02.gif) no-repeat center;}
.step3{width: 100%;height:418px;background: url(../images/step_03.gif) no-repeat center;}
.step4{width: 100%;height:397px;background: url(../images/step_04.gif) no-repeat center;}
